body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Muli';
  }

  main {
    flex: 1 0 auto;
    font-family: 'Muli';
  }

.img-placeholder{
	padding-bottom: 30px;
}

.titles{
	font-family: 'Lobster', cursive;
	font-size: 50px;
	color: #9400D3;
    padding-bottom: 20px;
    margin: 0px;
}

nav .brand-logo{
    font-size: 4rem;
    position: relative;
}

.lizard{
    margin-right: 5px;
}

/* unvisited link */
.navbar-links:link {
    color: white;
    text-decoration: none;
}

/* visited link */
.navbar-links:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
.navbar-links:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
.navbar-links:active {
    color: white;
    text-decoration: none;
}

.blog-title{
	font-family: 'Amatic SC', cursive;
	color: white;
}

.post-title:link{
	font-size: 30px;
	color: darkViolet;
    font-family: 'Luckiest Guy', cursive;
}
.post-title:visited {
    color: darkViolet;
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
}

/* mouse over link */
.post-title:hover {
    color: darkViolet;
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
}

/* selected link */
.post-title:active {
    color: darkViolet;
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
}

.padding{
	padding-left: 50px;
    padding-right: 50px;
}

.back-to-home{
    padding-top: 20px;
}

.float-left{
    float: left;
    margin-right: 20px;
}

.show-body{
    width: 1000px; 
    word-wrap: break-word;
}

.img-resize{
    width: 350px;
    height: auto;
    padding-bottom: 30px;
}

.submit{
    margin-top: 20px;
}

.dropdown-btn{
    margin-right: 40px;
    border: none;
    letter-spacing: none;
    text-transform: none;
    box-shadow: none;
}

.btn:hover, .btn:focus {
    color: white;
    text-decoration: none;
}

.current-photo{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: DarkViolet;
    padding-bottom: 0px;
    margin: 0px;
}

.img-resize-edit{
    width: 200px;
    height: 100%;
    margin-bottom: 20px;
}

.signup{
    margin-right: 40px;
}
    /* -webkit-tap-highlight-color: transparent; */