body {
    display: flex;
    font-family: 'Muli';
    background: url(/img/dark_embroidery.png) center fixed;
    padding-bottom: 40px;

}

.container{
    background-color: white;
    margin-top: 20px;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.title{
    color: #9400D3;
    font-family: 'Poiret One';
}

.img-resize{
    width: 450px;
    height: auto;
    float: left;
    margin-right: 40px;
}

.game-description{
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.clearboth{
    clear: both;
    padding-bottom: 40px;
}