.container{
    margin-top: 20px;
    margin-bottom: 20px;
}

body { 
    background: url(/img/dark_embroidery.png) center fixed;
    color: #fff;
    font-family: 'Poiret One', cursive;
    cursor: default;
}

.myfam{
    height: 80px;
}

.name{
    background-color: gray;
    font-size: 4em;
    height: 100px;
    padding-top: 15px;
}

.about{
    font-size: 20px;
    height: 213px;
    padding-top: 20px;
}

.title{
    background-color: #777;
    font-size: 4em;
}

.full-stack-title{
    font-size: 3em;
    height: 80px;
    padding-top: 20px;
}

.full-stack-row{
    height: 100px;
}

div{
    margin: 0px;
}

.no-padding{
    padding: 0px;
}

.small-text{
    font-size: 16px;
    margin-bottom: 0px;
}

.light-gray{
    background-color: #777;
    text-align: center;
}

.dark-gray{
    background-color: #484848;
    font-size: 4em;
    text-align: center;
}

.green{
    background-color: #1ABC9C;

}

.center-4em{
    font-size: 3.9em;
    text-align: center;

}

.blue{
    background-color: #3498DB;
    margin: 0px;
}

.purple{
    background-color: #9400D3;
    margin: 0px;
}

.orange{
    background-color: #E67E22;
}

.download{
    background-color: #484848;
}

.titles-and-content{
    background-color: #fff;
    color: #000;
    margin: 0px;
}

.content{
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.personal-info{
    background-color: #f2f2f2;
    color: #000;
    padding-left: 15px;
    padding-bottom: 36px;
    margin: 0px;
    font-size: 
}

.personal-info-title{
    background-color: #f2f2f2;
    padding-bottom: 21px;
}

.info-title{
    font-size: 20px;
}

.fa-download{
    margin-top: 15px;
}

.pro-skills-title{
    font-size: 3em;
    padding-bottom: 20px;
}

.icon-text{
    margin-bottom: 11px;
    display: block;
}

.pro-exp-title{
    padding: 5px;
}

.pro-skills-content{
    padding-bottom: 37px;
}

.img-size{
    height: 310px;
    min-width: 100%;
}

.last-row{
    background-color: #484848;
    color: #808080;
    padding: 35px;
    font-size: 25px;
}

.subscribe-boxes{
    background-color: transparent;
    color: #fff;
    border: 1px solid #808080;
}

.subscribe-button{
    box-shadow: inset 0 0 10px #000000;
    border: 0px;

}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
}

/*changes size of my name and title when on mobile*/
@media (max-width: 480px) { 
        .name {
            text-align: center;
            font-size: 3em;
        }

        .full-stack-title {
            text-align: center;
            font-size: 2em
        }
}

.green:hover{
    background-color: #117a65;
}

.orange:hover{
    background-color: #b7661f;
}

.blue:hover{
    background-color: #2773a5;
}

.purple:hover{
    background-color: #7c4693;
}

.light-gray:hover{
    background-color: #302f2f;
}

h2{
    margin: 0px;
}

.blue2{
    background-color: #3498DB;
    margin: 0px;
}

.purple2{
    background-color:#9400D3;
    margin: 0px;
}


